.app {
  width: 100vw;
  height: 100vh;
  background-color: #1a0552;
  overflow: hidden;
}

.container {
  max-width: 116rem;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

img {
  max-width: 100%;
}

.intro-text {
  color: #c211a0;
  font-size: 4.2rem;
  margin-bottom: 1rem;
  padding-right: 8rem;
}

.button {
  width: 20rem;
  margin-right: 2rem;
  padding: 0.8rem 1rem;
  border: 0.4rem solid #c211a0;
  border-radius: 4rem;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  transition: background-color 0.6s;
}

.button:hover {
  background-color: #c211a0;
}

.router-link {
  text-decoration: none;
  color: #fff;
}

.active {
  color: #c312a1;
}
